body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.App {
  text-align: left;
}

.title{
  color: cadetblue;
}

.button-style-green {
  height:30px;
  border-radius: 4px;
  background-color: rgb(60, 182, 60);
  color: white;
}

.button-style-red {
  height: 30px;
  border-radius: 4px;
  background-color: rgb(201, 47, 9);
  color: white;
}

.button-style-purple {
  height: 30px;
  border-radius: 4px;
  background-color:rgb(197, 58, 197);
  color: white;
}

.button-style-clear {
  height: 30px;
  border-radius: 4px;
  background-color:rgb(120, 120, 197);
  color: white;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square-red {
  background: #f7f;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
    height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  color: blueviolet;
  margin-left: 20px;
}

.numbers {
  color: rosybrown;
}

.win-color {
  color: teal;
}
